<h1>All lists</h1>
<div class="row">
  <% @lists.each do |list| %>
  <div class="col-4">
    <div class="card text-center mb-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <%= link_to "See the list", list_path(list), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
