.mc-navbar {
  background-color: #161617;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mc-logo {
  color: white;
  font-size: 2rem;
}

.mc-navbar-item {
  background-color: rgb(31, 31, 31);
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-family: $headers-font;
  border: solid 1px transparent;
  font-weight: 700;

  &:hover {
    border: solid 1px white;
  }
}
